/* Ingle, Purva (1002031063) Jeevanrao, Rajeswari (1002122461)
Kadam, Sankalp (1002072319) Kalyanapu, Nagendrababu (1002115034)
Katragadda, Neeharika (1002159315) */

.forgotpasswordpage{
    overflow-x: hidden;
    width: 100%;
    height: auto;
}
.forgotpasswordpage__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}
.forgotpasswordpage__form{
    display: block;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.forgotpasswordpage__data{
    font-size: var(--text-xl);
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.forgotpasswordpage__resetText{
    margin: 1rem 0;
    font-size: var(--text-xl);
    display: none;
}

@media screen and (max-width:767px) {
    .forgotpasswordpage__resetText{
        padding: 0.5rem 0;
        font-size: var(--text-base);
    }
}

.showText{
    display: block;
}