/* Ingle, Purva (1002031063) Jeevanrao, Rajeswari (1002122461)
Kadam, Sankalp (1002072319) Kalyanapu, Nagendrababu (1002115034)
Katragadda, Neeharika (1002159315) */

.reportviewer{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reportviewer__img{
    width: 100%;
    height: 60%;
}
img{
    width: 100%;
}
@media screen and (max-width:1023px) {
    .reportviewer{
        flex-direction: column;
    }
}