/* Ingle, Purva (1002031063) Jeevanrao, Rajeswari (1002122461)
Kadam, Sankalp (1002072319) Kalyanapu, Nagendrababu (1002115034)
Katragadda, Neeharika (1002159315) */

.table{
    width: 100%;
    height: 100%;
    border: 1px solid #CACACA;
    margin-top: 1rem;
}
.table__header{
    background-color: var(--secondary-background-color);
    color: black;
    font-weight: bold;
    /* width: 92%; */
    border-bottom: 1px solid var(--secondary-background-color);
    padding: 0.2rem 1rem;
}
.table__data{
    text-decoration: underline;
    color: #1665DB;
    border-bottom: 1px solid var(--secondary-background-color);
    padding: 0.2rem 1rem;
    display: block;
}
.nodecoration__tableData{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid var(--secondary-background-color);
    padding: 0.2rem 1rem;
    display: block;
}