/* Ingle, Purva (1002031063) Jeevanrao, Rajeswari (1002122461)
Kadam, Sankalp (1002072319) Kalyanapu, Nagendrababu (1002115034)
Katragadda, Neeharika (1002159315) */

.aicheck{
    overflow: hidden;
}
.aicheck__data{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.aicheck__secondaryTitle{
    margin-top: 2rem;
    font-size: var(--text-2xl);
    /* font-weight: bold; */
}