/* Ingle, Purva (1002031063) Jeevanrao, Rajeswari (1002122461)
Kadam, Sankalp (1002072319) Kalyanapu, Nagendrababu (1002115034)
Katragadda, Neeharika (1002159315) */

.aboutpage{
    overflow-x: hidden;
    width: 100%;
    height: auto;
}
.aboutpage__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 1rem;
    border-radius: 20px;
    text-align: justify;
    background-color: #F6F6F6;

}

.aboutpage__img{
    width: 100%;
    height: 30%;
    margin: auto;
    text-align: center;
}

.aboutpage__title{
    margin-bottom: 2rem;
    font-size: var(--text-3xl);
    font-weight: bold;
}
.aboutpage__data{
    font-size: var(--text-xl);
    margin: 0 4rem 2rem 4rem;
}
.aboutpage__options{
    position: fixed;
    bottom: 0;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
}
.aboutpage__links{
    color: var(--text-color);
    text-decoration: none;
    margin: 0 1rem;
    font-size: var(--text-xl);
}
@media screen and (max-width:767px) {
    .aboutpage__data{
        font-size: var(--text-sm);
    }
    .aboutpage__title{
        margin-bottom: 2rem;
        font-size: var(--text-sm);
        font-weight: bold;
    }
    .aboutpage__links{
        color: var(--text-color);
        text-decoration: none;
        margin: 0 1rem;
        font-size: var(--text-sm);
    }
}